<div class="form-box">
  <form action="" class="form-request">
    <div class="form-box__col">
      {{> @input inputLabel="SN" inputValue="9873873234" readonly= true}}
      {{> @input inputLabel="SKU" inputValue="2019-1902-0" readonly= true}}
      {{> @input inputLabel="ID MASTER" inputValue="CO_1183823" readonly= true}}
      {{> @input inputLabel="TIPO" inputValue="850" readonly= true}}
      {{> @input inputLabel="Iniciar Garantía" inputValue="26/09/2019" readonly= true}}
    </div>
    <div class="form-box__col">
      {{> @textarea textareaLabel="COMENTARIOS" textareaValue="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus a tempor nunc, id lacinia est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas rhoncus scelerisque iaculis.   condimentum magna id mi convallis hendrerit. Nunc lectus orci, posuere quis turpis ac, feugiat posuere justo. Donec consequat tellu."}}
      {{> @input inputLabel="GARANTÍA VIGENTE" inputValue="SI"}}
      {{> @input inputLabel="FIN DE GARANTÍA" inputValue="26/09/2019"}}
    </div>
  </form>
</div>
