<nav class="nav">
  <ol class="nav__list">
    <li class="nav__list-item nav__list-item--active">
      <a href="#" class="nav__link">
        <span class="nav__link-icon">
          <svg>
            <use xlink:href="../../img/sprite.svg#factory">
          </svg>
        </span>
        Fábrica
      </a>
      <ul class="nav__list nav__list--nested">
        <li><a href="#" class="nav__link nav__link--active">Registro de material</a></li>
        <li><a href="#" class="nav__link">Consulta de material</a></li>
      </ul>
    </li>
    <li class="nav__list-item">
      <a href="#" class="nav__link">
        <span class="nav__link-icon">
          <svg>
            <use xlink:href="../../img/sprite.svg#registry">
          </svg>
        </span>
        Registro de entrada
      </a>
    </li>
    <li class="nav__list-item">
      <a href="#" class="nav__link">
        <span class="nav__link-icon">
          <svg>
            <use xlink:href="../../img/sprite.svg#delivery">
          </svg>
        </span>
        Entrega a instalador
      </a>
    </li>
    <li class="nav__list-item">
      <a href="#" class="nav__link">
        <span class="nav__link-icon">
          <svg>
            <use xlink:href="../../img/sprite.svg#installer">
          </svg>
        </span>
        Instalador
      </a>
    </li>
    <li class="nav__list-item">
      <a href="#" class="nav__link">
        <span class="nav__link-icon">
          <svg>
            <use xlink:href="../../img/sprite.svg#site">
          </svg>
        </span>
        Site
      </a>
    </li>
    <li class="nav__list-item">
      <a href="#" class="nav__link">
        <span class="nav__link-icon">
          <svg>
            <use xlink:href="../../img/sprite.svg#maintenance">
          </svg>
        </span>
        Mantenimiento
      </a>
    </li>
    <li class="nav__list-item">
      <a href="#" class="nav__link">
        <span class="nav__link-icon">
          <svg>
            <use xlink:href="../../img/sprite.svg#center">
          </svg>
        </span>
        Centro reparador
      </a>
      <ul class="nav__list nav__list--nested">
        <li><a href="#" class="nav__link">Entrada</a></li>
        <li><a href="#" class="nav__link">Tarea</a></li>
      </ul>
    </li>
    <li class="nav__list-item">
      <a href="#" class="nav__link">
        <span class="nav__link-icon">
          <svg>
            <use xlink:href="../../img/sprite.svg#reports">
          </svg>
        </span>
        Informes
      </a>
    </li>
  </ol>
</nav>
