<div class="navbar">
  <div class="navbar__actions">
    <a href="/" class="navbar__gohome">{{> @logo }}</a>
    {{> @button--menu }}
  </div>

  <div class="navbar__body" id="mainNavbar" aria-label="Menú de navegación">
    <div class="navbar__inner">
      {{> @header }}
      {{> @nav }}
    </div>
  </div>
</div>

