// ------------------------------------------------------
// TYPE
// ------------------------------------------------------

// Headings
// ------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1 { font-size: rem(28px) }
// h1 { font-size: rem(24px) }

h2 {
  margin-top: calc(1rem * 2);
  font-size: rem(28px);
  // font-size: rem(17px);

  &.small {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-size: rem(14px);

    small {
      font-weight: 400;
    }
  }
}

h3 {
  margin-top: calc(1rem * 1.8);
  margin-bottom: rem(6px);
  font-size: rem(20px);
  // font-size: rem(13px);
  text-transform: uppercase;
}

h4, h5, h6 {
  font-size: rem(12px);
  text-transform: uppercase;
}


// Emphasis
// ------------------------------------------------------
small,
.small {
  font-size: 80%;
}
