<div class="dropdown js-dropdown">
  <p class="dropdown__description">{{dropdownLabel}}</p>
  <div class="dropdown__content">
    <button class="btn dropdown__btn js-dropdown__btn">Toggle Menu</button>
    <ul id="menu-example" class="dropdown__menu js-dropdown__menu">
      <li class="js-dropdown__item" role="presentation"><a href="#0" class="dropdown__item" role="menuitem">Item One</a></li>
      <li class="js-dropdown__item" role="presentation"><a href="#0" class="dropdown__item" role="menuitem">Item Two</a></li>
      <li class="js-dropdown__item" role="presentation"><a href="#0" class="dropdown__item" role="menuitem">Item Two</a></li>
    </ul>
  </div>
</div>
