<div class="table">
  <table class="tablesaw" data-tablesaw>
    <thead>
      <tr>
        <th scope="col" class="table__toggle">&nbsp;</th>
        {{#tableCheckbox}}
        <th scope="col" class="table__check">VALIDACIÓN</th>
        {{/tableCheckbox}}
        <th scope="col">SN</th>
        <th scope="col">SKU</th>
        <th scope="col">ID MASTER</th>
        <th scope="col">TIPO</th>
        <th scope="col">TECNOLOGÍA</th>
        <th scope="col">PROVEEDOR</th>
        {{#tableDate}}
        <th scope="col">FECHA</th>
        {{/tableDate}}
        {{#tableDescription}}
        <th scope="col" class="table__description">DESCRIPTION</th>
        {{/tableDescription}}
      </tr>
    </thead>
    <tbody id="checkall-target">
      <tr>
        <!-- ALEJANDRO, ENRIQUE -->
        <!-- on click to remove sr-only class add to table__toggle class 'active' -->
        <td class="table__toggle active">
          <a href="#" class="table__toggle-link">
            <span class="sr-only">Mostrar más celdas</span>
          </a>
        </td>

        {{#tableCheckbox}}
        <td class="table__check">
          <label>
            <input type="checkbox">
            <span class="sr-only"> Seleccionar fila</span>
          </label>
        </td>
        {{/tableCheckbox}}

        <td>9834579</td>
        <!-- ALEJANDRO, ENRIQUE -->
        <!-- add to table__item class 'sr-only' and remove it on click button show -->
        <td class="table__item">2034-1902-0</td>
        <td class="table__item">CO_241441</td>
        <td class="table__item">850/750/300</td>
        <td class="table__item">WCDMA</td>
        <td class="table__item">HUAWEI</td>
        {{#tableDate}}
        <td class="table__item">30/04/2019</td>
        {{/tableDate}}

        {{#tableDescription}}
        <td class="table__description">Lorem ipsum dolor sit amet, consectetur adipiscing.</td>
        {{/tableDescription}}
      </tr>
      <tr>
        <!-- ALEJANDRO, ENRIQUE -->
        <!-- on click to remove sr-only class add to table__toggle class 'active' -->
        <td class="table__toggle active">
          <a href="#" class="table__toggle-link">
            <span class="sr-only">Mostrar más celdas</span>
          </a>
        </td>

        {{#tableCheckbox}}
        <td class="table__check">
          <label>
            <input type="checkbox">
            <span class="sr-only"> Seleccionar fila</span>
          </label>
        </td>
        {{/tableCheckbox}}

        <td>9834579</td>
        <!-- ALEJANDRO, ENRIQUE -->
        <!-- add to table__item class 'sr-only' and remove it on click button show -->
        <td class="table__item">2034-1902-0</td>
        <td class="table__item">CO_241441</td>
        <td class="table__item">850/750/300</td>
        <td class="table__item">WCDMA</td>
        <td class="table__item">HUAWEI</td>
        {{#tableDate}}
        <td class="table__item">30/04/2019</td>
        {{/tableDate}}

        {{#tableDescription}}
        <td class="table__description">Lorem ipsum dolor sit amet, consectetur adipiscing.</td>
        {{/tableDescription}}
      </tr>
      <tr>
        <!-- ALEJANDRO, ENRIQUE -->
        <!-- on click to remove sr-only class add to table__toggle class 'active' -->
        <td class="table__toggle active">
          <a href="#" class="table__toggle-link">
            <span class="sr-only">Mostrar más celdas</span>
          </a>
        </td>

        {{#tableCheckbox}}
        <td class="table__check">
          <label>
            <input type="checkbox">
            <span class="sr-only"> Seleccionar fila</span>
          </label>
        </td>
        {{/tableCheckbox}}

        <td>9834579</td>
        <!-- ALEJANDRO, ENRIQUE -->
        <!-- add to table__item class 'sr-only' and remove it on click button show -->
        <td class="table__item">2034-1902-0</td>
        <td class="table__item">CO_241441</td>
        <td class="table__item">850/750/300</td>
        <td class="table__item">WCDMA</td>
        <td class="table__item">HUAWEI</td>
        {{#tableDate}}
        <td class="table__item">30/04/2019</td>
        {{/tableDate}}

        {{#tableDescription}}
        <td class="table__description">Lorem ipsum dolor sit amet, consectetur adipiscing.</td>
        {{/tableDescription}}
      </tr>
      <tr>
        <!-- ALEJANDRO, ENRIQUE -->
        <!-- on click to remove sr-only class add to table__toggle class 'active' -->
        <td class="table__toggle active">
          <a href="#" class="table__toggle-link">
            <span class="sr-only">Mostrar más celdas</span>
          </a>
        </td>

        {{#tableCheckbox}}
        <td class="table__check">
          <label>
            <input type="checkbox">
            <span class="sr-only"> Seleccionar fila</span>
          </label>
        </td>
        {{/tableCheckbox}}

        <td>9834579</td>
        <!-- ALEJANDRO, ENRIQUE -->
        <!-- add to table__item class 'sr-only' and remove it on click button show -->
        <td class="table__item">2034-1902-0</td>
        <td class="table__item">CO_241441</td>
        <td class="table__item">850/750/300</td>
        <td class="table__item">WCDMA</td>
        <td class="table__item">HUAWEI</td>
        {{#tableDate}}
        <td class="table__item">30/04/2019</td>
        {{/tableDate}}

        {{#tableDescription}}
        <td class="table__description">Lorem ipsum dolor sit amet, consectetur adipiscing.</td>
        {{/tableDescription}}
      </tr>
    </tbody>
  </table>
</div>
